<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">
	<title>Form</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<div class="app" id="app">
		<div class="contacts">
			<div class="d-flex">
				<section class="visual-top mask">
					<div class="container">
						<h2 class="secondary-title text-center z-index">見学・お問い合わせ・<br class="xmb">資料請求</h2>
					</div>
				</section>
			</div>
			<div class="breadcrumbs">
				<ul class="breadcrumbs__list" id="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link">Home</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link active">見学・お問い合わせ・資料請求</a>
					</li>
				</ul>
			</div>
			<div class="primary-inner-offset">
				<div class="container">
					<h2 class="third-title text-green text-center">
						お問い合わせ・<br class="xmb">資料請求フォーム
					</h2>
					<p class="text primary-top-offset text-center">
						インターネットからのお問い合せは常時、下記お問い合わせフォームからお問い合わせいただけます。<br>
						スタッフがお問い合せ内容を確認の上、返信を差し上げますのでお待ちください。<br>
						必須項目に誤りがありますと、当ホームからの返信が届きませんので、<br>
						連絡に必要な必須項目はお間違いがないようにお願い致します。<br>
					</p>
					<p class="text text-center secondary-top-offset">
						※お問い合わせの内容によっては、回答できない場合もございます。その際は、何卒ご容赦願いします。</p>

					<div class="form__wrap">
						<form class="form">
							<ul class="form__list">
								<li class="form__item not-valid">
										<span class="error">
									<span class="error__icon">
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle	cx="9" cy="9"r="8.5"	stroke="#F00000"/><path
										d="M8.99 14.87c.669 0 1.184-.433 1.184-.943 0-.494-.515-.942-1.183-.942-.65 0-1.165.448-1.165.942 0 .51.516.943 1.165.943zm0-11.74c-.591 0-.973.278-.973.896 0 .695.21 2.21.458 4.51l.23 2.72h.59l.23-2.72c.248-2.3.458-3.815.458-4.51 0-.618-.363-.896-.992-.896z"
										fill="#F00000"/>
									</svg>
									</span>
									必須項目です。
									</span>
									<div class="form__item-left">
										<span class="label text text-white pink-bg">種類</span>
										<span class="require">＊必須</span>
									</div>
									<div class="form__item-right">
										<label class="checkbox__wrap">
											<input class="checkbox not-valid" type="checkbox" name="checkbox">
											<span class="label__checkbox text">施設見学</span>
										</label>
										<label class="checkbox__wrap">
											<input class="checkbox" type="checkbox" name="checkbox">
											<span class="label__checkbox text">施設の資料請求</span>
										</label>
										<label class="checkbox__wrap">
											<input class="checkbox" type="checkbox" name="checkbox">
											<span class="label__checkbox text">入居（体験入居含み）</span>
										</label>
										<label class="checkbox__wrap">
											<input class="checkbox" type="checkbox" name="checkbox" checked>
											<span class="label__checkbox text">採用</span>
										</label>
									</div>
								</li>

								<li class="form__item">
									<div class="form__item-left">
										<span class="label text text-white pink-bg">該当施設</span>
									</div>
									<div class="form__item-right">
										<ul class="radio-check__list">
											<li class="radio-check__item">
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio" checked="checked">
													<span class="label__radio text">リッチランド豊南郷</span>
												</label>
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">エクセルシオール千葉</span>
												</label>
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">エクセルシオール佐原</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">エクセルシオール秦野 </span>
												</label>
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">エクセルシオール湘南台</span>
												</label>
											</li>
										</ul>
										<ul class="radio-check__list secondary-top-offset">
											<li class="radio-check__item">
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">いきいきの家 鴨川</span>
												</label>
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">いきいきの家 今泉</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">いきいきの家 泉</span>
												</label>
												<label class="radio__wrap">
													<input class="radio" type="radio" name="radio">
													<span class="label__radio text">いきいきの家 二子玉川</span>
												</label>
											</li>
										</ul>
									</div>
								</li>
							</ul>
							<ul class="form__list">
								<li class="form__item">
									<div class="form__item-left">
										<span class="label text light-gray-bg outline">申込者</span>
										<span class="require">＊必須</span>
									</div>
									<div class="form__item-right">
										<label class="input__wrap not-valid">
											<input class="input" type="text" name="applicant" required>
											<span class="error__icon">
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle
										cx="9" cy="9"
										r="8.5"
										stroke="#F00000"/><path
										d="M8.99 14.87c.669 0 1.184-.433 1.184-.943 0-.494-.515-.942-1.183-.942-.65 0-1.165.448-1.165.942 0 .51.516.943 1.165.943zm0-11.74c-.591 0-.973.278-.973.896 0 .695.21 2.21.458 4.51l.23 2.72h.59l.23-2.72c.248-2.3.458-3.815.458-4.51 0-.618-.363-.896-.992-.896z"
										fill="#F00000"/>
									</svg>
									</span>
											<span class="error">
									必須項目です。
									</span>
										</label>
									</div>
								</li>

								<li class="form__item">
									<fieldset class="fieldset">
										<legend class="legend fourth-title">入居者</legend>
										<div class="fieldset__inner">
											<div class="form__item-left">
												<span class="label text light-gray-bg outline">お名前</span>
											</div>
											<div class="form__item-right">
												<label class="input__wrap">
													<input class="input" type="text" name="name">
												</label>
											</div>
										</div>
										<div class="fieldset__inner">
											<div class="form__item-left">
												<span class="label text light-gray-bg outline">ふりがな</span>
											</div>
											<div class="form__item-right">
												<label class="input__wrap">
													<input class="input" type="text" name="furigana">
												</label>
											</div>
										</div>
										<div class="fieldset__inner">
											<div class="form__item-left">
												<span class="label text light-gray-bg outline">続柄</span>
											</div>
											<div class="form__item-right">
												<label class="input__wrap small">
													<input class="input" type="text" name="relationship">
												</label>
											</div>
										</div>
										<div class="fieldset__inner">
											<div class="form__item-left">
												<span class="label text light-gray-bg outline">性別</span>
											</div>
											<div class="form__item-right">
												<ul class="radio-check__list small">
													<li class="radio-check__item">
														<label class="radio__wrap small">
															<input class="radio" type="radio" name="gender" checked>
															<span class="label__radio text">男性</span>
														</label>
													</li>
													<li class="radio-check__item">
														<label class="radio__wrap small">
															<input class="radio" type="radio" name="gender">
															<span class="label__radio text">女性</span>
														</label>
													</li>
												</ul>
											</div>
										</div>
									</fieldset>
								</li>
								<li class="form__item">
									<div class="form__item-left">
										<span class="label text light-gray-bg outline">要介護度</span>
									</div>
									<div class="form__item-right">
										<ul class="radio-check__list small">
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">自立</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要支援1</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要支援2</span>
												</label>
											</li>
										</ul>
										<ul class="radio-check__list small mt10">
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要介護1</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要介護2</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要介護3</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要介護4</span>
												</label>
											</li>
											<li class="radio-check__item">
												<label class="checkbox__wrap small">
													<input class="checkbox" type="checkbox" name="checkbox">
													<span class="label__checkbox text">要介護5</span>
												</label>
											</li>
										</ul>
									</div>
								</li>
							</ul>

							<ul class="form__list">
								<li class="form__item">
									<div class="form__item-left">
										<span class="label small text light-gray-bg outline">メールアドレス</span>
										<span class="require">＊必須</span>
									</div>
									<div class="form__item-right">
										<label class="input__wrap not-valid">
											<input class="input" type="email" name="email" required>
											<span class="error__icon">
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle
										cx="9" cy="9"
										r="8.5"
										stroke="#F00000"/><path
										d="M8.99 14.87c.669 0 1.184-.433 1.184-.943 0-.494-.515-.942-1.183-.942-.65 0-1.165.448-1.165.942 0 .51.516.943 1.165.943zm0-11.74c-.591 0-.973.278-.973.896 0 .695.21 2.21.458 4.51l.23 2.72h.59l.23-2.72c.248-2.3.458-3.815.458-4.51 0-.618-.363-.896-.992-.896z"
										fill="#F00000"/>
									</svg>
									</span>
											<span class="error">
									必須項目です。
									</span>
										</label>
									</div>
								</li>

								<li class="form__item">
									<div class="form__item-left">
										<span class="label text light-gray-bg outline">郵便番号</span>
									</div>
									<div class="form__item-right">
										<div class="form__item-right-inner md-column">
											<label class="input__wrap large">
												<input class="input" type="text" name="postal-code">
											</label>
											<a href="#" target="_blank" class="form__item-link text">郵便番号検索</a>
										</div>
									</div>
								</li>
								<li class="form__item">
									<div class="form__item-left">
										<span class="label text light-gray-bg outline">住所</span>
									</div>
									<div class="form__item-right">
										<label class="input__wrap">
											<input class="input" type="text" name="address">
										</label>
									</div>
								</li>
								<li class="form__item">
									<div class="form__item-left">
										<span class="label text light-gray-bg outline">電話番号</span>
									</div>
									<div class="form__item-right">
										<div class="form__item-right-inner">
											<label class="input__wrap xsmall line">
												<input class="input" placeholder="000" type="tel" maxlength="3" name="phone">
											</label>
											<label class="input__wrap xsmall line">
												<input class="input" placeholder="000" type="tel" maxlength="3" name="phone">
											</label>
											<label class="input__wrap medium">
												<input class="input" placeholder="0000" type="tel" maxlength="4" name="phone">
											</label>
										</div>
									</div>
								</li>
							</ul>

							<ul class="form__list">
								<li class="form__item">
									<div class="form__item-left">
										<span class="label text text-white pink-bg">内容</span>
										<span class="require">＊必須</span>
									</div>
									<div class="form__item-right">
										<label class="input__wrap">
											<textarea class="textarea" name="massage"></textarea>
										</label>
									</div>
								</li>
							</ul>

							<button type="submit" class="btn center small primary-top-offset">
										<span class="btn__icon">
<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><g
	clip-path="url(#clip0)" fill="#70BF44"><path
	d="M37.993.717a.777.777 0 00-.08-.263c-.012-.024-.016-.05-.03-.072-.01-.015-.024-.025-.035-.04a.858.858 0 00-.093-.104.799.799 0 00-.107-.093c-.014-.01-.023-.024-.037-.032-.023-.014-.049-.017-.073-.029a.858.858 0 00-.137-.055.87.87 0 00-.122-.022.848.848 0 00-.145-.006.745.745 0 00-.133.022c-.029.007-.057.004-.086.014L.56 12.431a.826.826 0 00-.029 1.553l16.985 6.526 7.34 16.992c.131.303.43.498.759.498h.04a.827.827 0 00.747-.575L37.97 1.069c.008-.025.005-.052.01-.078a.777.777 0 00.013-.274zM3.25 13.258L34.085 2.747 17.932 18.899 3.251 13.26zm22.245 21.56l-6.378-14.767L35.365 3.803l-9.869 31.015z"/><path
	d="M12.979 25.022a.825.825 0 00-1.169 0L.242 36.59a.825.825 0 101.169 1.168L12.979 26.19a.825.825 0 000-1.168zM15.115 30.806L9.331 36.59a.825.825 0 101.169 1.168l5.784-5.784a.825.825 0 10-1.169-1.168zM.827 28.911a.824.824 0 00.584-.242l5.784-5.784a.825.825 0 10-1.169-1.168L.242 27.5a.825.825 0 00.585 1.41z"/></g><defs><clipPath
	id="clip0"><path fill="#fff" d="M0 0h38v38H0z"/></clipPath></defs></svg>
</span>
								<span class="btn__inner">
				送信
				</span>
								<span class="btn__arrow">
<svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
																																																	 clip-rule="evenodd"
																																																	 d="M33.407 0L40 5H0V3.958h36.949L32.855.854 33.407 0z"
																																																	 fill="#70BF44"/></svg>
						</span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
